body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;

  height: 400px;
  width: 400px;

}

.header {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.logo {
  height: 100px;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  
  text-align: center;
  width: 350px;
}

h1 {
  color: #333;
  margin-bottom: 15px;
}

input[type="file"] {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#resaltarBtn {
  background-color: #007bff;
  color: white;
}

#resaltarBtn:hover {
  background-color: #0056b3;
}

#navegacion {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

#anteriorBtn, #siguienteBtn {
  background-color: #6c757d;
  color: white;
  width: 48%;
}

#anteriorBtn:hover, #siguienteBtn:hover {
  background-color: #545b62;
}

.hidden {
  display: none;
}
